/* CSS Vídeo */
.video1{
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  #video1{
    width: 100%;
    height: 90%;
    object-fit: cover;
    position: relative;
    z-index: -1;
    background-color: black;
  }
  .cajacabecera{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    color: white;
  }
  .cabeceraprimaria{
    font-size: 4.5rem;
    font-weight: 600;
    letter-spacing: 5px;
    color: #62fcaf;
    text-decoration: none;
  }
  .cabeceraindex{
    height: 70vh;
    position: relative;
    margin-top: 6%;
  }
  .contenedorcabecera{
    width: 100%;
    height: 90%;
    background-size: cover;
    color: white;
  }
/* CSS del menú */
.entrantes1{
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: cursive;
}
.entrantes{
    font-family: cursive;
    color:#62fcaf;
}
.menu8{
    padding: 0;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px,1fr));
    grid-gap: 20px 40px;
}
.food-items{
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin: 0 20px;
    margin-top: 1%;
    margin-bottom: 1%;
}
.food-items img{
    position: relative;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.details{
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
}
.details-sub{
    display: grid;
    grid-template-columns: auto auto;
}
.details-sub h5{
    font-weight: 600;
    font-size: 18px;
}
.price{
    text-align: right;
}
.details p{
    color: #6f6f6f;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
}
.details button{
    background-color: #cb202d;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    width: 180px;
}
h3{
    text-align: center;
    font-size: 40px;
    margin-top: 1%;
    text-transform: uppercase;
    margin-bottom: 2%;
    color: #62fcaf;
}
h1{
    text-align: center;
    margin-top:2%;
    text-transform: uppercase;
}
footer{
    margin-top: 2%;
}
h4{
    font-size: 28px;
    margin-top: 1%;
    text-align: center;
    text-transform: uppercase;
    color:#62fcaf;
    font-family: cursive;
}